.custom-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-contents: space-between;
  width: 100%;
}

.input-group {
  margin: 100px 0;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
